---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import ExperienceItem from "./ExperienceItem.astro"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.1.date"),
    title: t("experience.1.title"),
    company: "Freelance",
    description: t("experience.1.description"),
  },
  {
    date: t("experience.2.date"),
    title: t("experience.2.title"),
    company: "Kru360",
    description: t("experience.2.description"),
  },
  {
    date: t("experience.3.date"),
    title: t("experience.3.title"),
    company: "IncubApp Venture Capital",
    description: t("experience.3.description"),
  },
  {
    date: t("experience.4.date"),
    title: t("experience.4.title"),
    company: "Concert Plaza",
    description: t("experience.4.description"),
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
